@page
@model IEnumerable<StudentInfo.Pages.stuDetailsModel>
@{
}


@*@<table class="table">
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.StudentID)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseID)</td>
            </tr>
        }
    </tbody>
</table>*@